@import "../sass/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: $orange;
    color: $white;
}

// Import Poppins Font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

input, textarea {
    outline: none;
    border: none;
}

img {
    user-select: none;
    object-fit: cover;
}

.container {
    max-width: 1600px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}
