// Colors
$black-bg: #33373E;
$ligth-bg: #FFFFFF;
$orange: #FF6F00;
$black: #202020;
$black-50: #888;
$light: #e1e1e1;
$white: #fff;
$red: #FF0000;
$brown: #854927;
$green:#31bd3b;

// Transition
$main-trans: all .3s;
$second-trans: all .5s;

// Borders
$border: 1px solid black;
$main-radius: 4px;
$rounded: 20px;
$circle: 50%;

// Shadow